In [1]:
def add_numbers(a,b):
    return a+b
print(add_numbers(8,9))

17

In [15]:
# ?
def count_even_numbers(my_list):
    even_num_count = 0
    for num in my_list:
        if num % 2 == 0:
            even_num_count += 1
    return even_num_count

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
result = count_even_numbers(numbers)
print("Even numbers count:", result)

Even numbers count: 4

In [16]:
def find_max(lst):
   max_num = lst[0]

   for num in lst:
        if num > max_num:
            max_num = num
   return max_num

print(find_max([1,10,5,20,28]))

28

In [22]:
def remove_duplicates(lst):
    new_list = []

    for item in lst:
        if item not in new_list:
            new_list.append(item)
    return new_list
 
my_list = [10,20,10,30,40,40,50]
print(remove_duplicates(my_list))

[10, 20, 30, 40, 50]

In [32]:
def factorial(n):
    if n == 0:
        return 1
    result = 1

    for i in range(1, n+1):
        result *= i 
    return result

print(factorial(4))

24

In [33]:
def add_numbers(a, b = 8):

    return a + b 

print(add_numbers(9,6))
print(add_numbers(9))

15
17

In [ ]:
def power(num, exponent = 2):
    return num ** exponent

print(power(2,5))
print(power(5))

32
25

In [38]:
def display_numbers(a, b):
    
    print("a:" , a)
    print("b:" , b)

display_numbers(b = 6 , a  = 4)
display_numbers(a = 8 , b  = 10)

a: 4
b: 6
a: 8
b: 10

In [ ]:
def calculate_salary(base_salary, bonus = 0, tax_rate = 0.1):
    gross_salary  = base_salary + bonus
    # tax = gross_salary * tax_rate
    net_salary = gross_salary * (1 - tax_rate)

    return net_salary

print(calculate_salary(base_salary = 10000))
print(calculate_salary(base_salary = 20000, bonus= 1000, tax_rate= 0.5))

9000.0
10500.0

In [45]:
def arbitrary_positional_arguments(*args):
    print(args)
    print(type(args))
    
    for arg in args:
        print(arg)

arbitrary_positional_arguments(5,8,9,12)

(5, 8, 9, 12)
<class 'tuple'>
5
8
9
12

In [4]:
def multiply_all(*args):

    total = 1
    for arg in args:
        total *= arg
    return total
    
print(multiply_all(1,5,2,6))
print(multiply_all())

60
1

In [12]:
dict = {
    "name" : "John",
    "age" : 28 ,
    "city" : "Colombo"
}

for key in dict.keys():
    print(key)

for value in dict.values():
    print(value)

for key,value in dict.items():
    print("key: ",key, "value: ",value)

name
age
city
John
28
Colombo
key:  name value:  John
key:  age value:  28
key:  city value:  Colombo

In [14]:
def arbitary_keyword_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

arbitary_keyword_args(name = "John", age =28, city = "Colombo")

for key,value in dict.items():
    print("key: ",key, "value: ",value)

{'name': 'John', 'age': 28, 'city': 'Colombo'}
<class 'dict'>
key:  name value:  John
key:  age value:  28
key:  city value:  Colombo

In [22]:
def add_students(**kwargs):
    students = {}
    for name, student_id in kwargs.items():
        students[student_id] = name
    return students

def display_students(student_dict):
    for name, student_id in student_dict.items():
        print("ID:", student_id,"Name:" ,name)

student_info = add_students(
    S001 = "Achini",
    S002 = "Kamani",
    S003 = "Saduni",
    S004 = "Nimali",
    S005 = "Malani",
    )

display_students(student_info)

ID: S001 Name: Achini
ID: S002 Name: Kamani
ID: S003 Name: Saduni
ID: S004 Name: Nimali
ID: S005 Name: Malani

In [ ]:
def find_squre(x):
    return x ** 2

my_list = [6, 5, 3, 2, 9]

squre_values = map(find_squre, my_list)
   
print(list(squre_values))

[36, 25, 9, 4, 81]

In [ ]:
def convert_fahrenheit(c):
    return (c * 9 / 5)+32

celcious_values = [0, 20, 37, 100, -10]

def display_fahrenheit(celcious_values):
    fahrenhite_values = list(map(convert_fahrenheit, celcious_values))
    return fahrenhite_values

display_fahrenheit(celcious_values)

[32.0, 68.0, 98.6, 212.0, 14.0]

In [35]:
def is_even(num):
    return num % 2 == 0 

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = filter(is_even, my_list)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [39]:
add = lambda x, y: x + y
print(add(6,7))

13

In [38]:
print((lambda x, y: x + y)(6,7))

13

In [42]:
print(list(map(lambda x: x * 2,[2, 4, 6, 8])))

[4, 8, 12, 16]

In [ ]:
print(list(filter(lambda x: x % 2 == 0, [12, 18, 17, 15, 22, 23, 16])))

[12, 18, 22, 16]

In [50]:
max = ((lambda x, y : x if x > y else y) (5 , 3))

print(max)

5

In [ ]:
def outer():
    x = "outer"
    def inner():
        nonlocal x
        x = "inner"
    inner()
    print(x)
outer()

inner