In [1]:
a = 10
b = 20 

print(a+b)

30

In [2]:
num_1 = 80
num_2 = 10
   
print(num_1 * num_2)

800

In [3]:
_num = 20

In [4]:
num = 25

print(num)
print(type(num))

25
<class 'int'>

In [5]:
num_2 = 20.5

print(num_2)
print(type(num_2))

20.5
<class 'float'>

In [6]:
a = 10 + 20j
print(type(a))

<class 'complex'>

In [7]:
num_3 = 2.5e12

print(num_3)
print(type(num_3))

2500000000000.0
<class 'float'>

In [8]:
x = 7

a = float(x)

print(x, type(x))
print(a, type(a))

7 <class 'int'>
7.0 <class 'float'>

In [9]:
y = 20.8
b = int(y)

print(y, type(y))
print(b, type(b))

20.8 <class 'float'>
20 <class 'int'>

In [ ]:
my_list = [10, 5, "John", 6.2, True]
print(type(my_list))

<class 'list'>

In [11]:
print(my_list[2])

John

In [12]:
print(my_list[-1])
print(my_list[-3])

True
John

In [13]:
print(my_list[1:4])

[5, 'John', 6.2]

In [14]:
print(my_list[:3])

[10, 5, 'John']

In [15]:
print(my_list[2:])

['John', 6.2, True]

In [ ]:
my_list = [10, 5, "John", 6.2, True, 5]

print(my_list)

[10, 5, 'John', 6.2, True, 5]

In [17]:
my_list[2] = "Kasun"

print(my_list)

[10, 5, 'Kasun', 6.2, True, 5]

In [18]:
my_list[2:5] = ["Kate", 9.4, False]
print(my_list)

[10, 5, 'Kate', 9.4, False, 5]

In [19]:
my_list.append("Dog")

print(my_list)

[10, 5, 'Kate', 9.4, False, 5, 'Dog']

In [20]:
my_list.insert(2, "Smith")

print(my_list)

[10, 5, 'Smith', 'Kate', 9.4, False, 5, 'Dog']

In [21]:
my_list_1 = [10, 6, 4, 3, 2]
my_list_2 = [25, 10, 20]

my_list_1.extend(my_list_2)

print(my_list_1)

[10, 6, 4, 3, 2, 25, 10, 20]

In [22]:
my_list = [10, "Cat", 5, "apple", 28]
print(my_list)

my_list.remove("Cat")
print(my_list)

[10, 'Cat', 5, 'apple', 28]
[10, 5, 'apple', 28]

In [23]:
my_list.pop(1)
print(my_list)

[10, 'apple', 28]

In [24]:
students = ["Amal", "Binu", "Chamara"]

students.append("Dilani")
students.insert(2, "Ishan")
students.remove("Amal")
students.insert(0, "Farah")

print(students)

['Farah', 'Binu', 'Ishan', 'Chamara', 'Dilani']

In [25]:
my_list = [10, 6, 22, 12, 9]
print(len(my_list))

5

In [26]:
del my_list[2]
print(my_list)

[10, 6, 12, 9]

In [ ]:
del my_list
print(len(my_list))

NameError: name 'my_list' is not defined

In [ ]:
my_list = [25, 10, 12, 8, 4]
my_list.clear()

print(len(my_list))1

0

In [ ]:
my_list = ["banana", "apple", "cat", "bird", "Dog"]

my_list.sort()
print(my_list)

['Dog', 'apple', 'banana', 'bird', 'cat']

In [ ]:
num_list = [10, 8, 24, 12, 13, 1]

num_list.sort(reverse=True)
print(num_list)

[24, 13, 12, 10, 8, 1]

In [ ]:
my_list_1 = [10, 12, 9, 4, 3]
my_list_1 = my_list_2

my_list_1[2] = 22
  
print(my_list_1)
print(my_list_2)

[25, 10, 22]
[25, 10, 22]

In [ ]:
my_list_1 = [10, 12, 9, 4, 3]
my_list_2 = my_list_1.copy()

print(my_list_1, my_list_2)

my_list_1[1] = 15

print(my_list_1, my_list_2)

[10, 12, 9, 4, 3] [10, 12, 9, 4, 3]
[10, 15, 9, 4, 3] [10, 12, 9, 4, 3]

In [ ]:
my_list_1 = [10, 12, 9, 4, 3]

my_list_1.reverse()
print(my_list_1)

[3, 4, 9, 12, 10]

In [ ]:
my_list_1 = [10, 12, 9, 4, 3]

my_list_2 = [4, 6, 5]

new_list = my_list_1 + my_list_2

print(new_list)

[10, 12, 9, 4, 3, 4, 6, 5]