In [44]:
sports = ("tennis", "cricket", "football")

print(sports)
print(type(sports))
print(sports[1])
print(len(sports))

('tennis', 'cricket', 'football')
<class 'tuple'>
cricket
3

In [45]:
sport = ("cricket",)

print(type(sport))
print(len(sport))

<class 'tuple'>
1

In [46]:
my_tuple = ("tennis", 30, True, "cricket", "football")

print(my_tuple[2:5])
print(my_tuple[:4])
print(my_tuple[2:])

(True, 'cricket', 'football')
('tennis', 30, True, 'cricket')
(True, 'cricket', 'football')

In [47]:
fruits = ("apple", "banana", "orange")

x = list(fruits)
print(x, type(x))

x[1] = "Grapes"
print(x)
fruits = tuple(x)
print(fruits, type(fruits))

['apple', 'banana', 'orange'] <class 'list'>
['apple', 'Grapes', 'orange']
('apple', 'Grapes', 'orange') <class 'tuple'>

In [48]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

print(nested_tuple[1][1])
print(nested_tuple[2][0])

b
True

In [49]:
sports = {"tennis", "cricket", "football"}
print(sports)
print(type(sports))

{'tennis', 'football', 'cricket'}
<class 'set'>

In [50]:
set_1 = {"tennis", "cricket", "football"}
set_1.add("baseball")

print(set_1)

{'tennis', 'football', 'cricket', 'baseball'}

In [51]:
set_1 = {"tennis", "cricket", "football"}
set_2 = {"apple", "banana"}

set_1.update(set_2)
print(set_1)

{'banana', 'tennis', 'football', 'cricket', 'apple'}

In [52]:
set_1 = {"tennis", "cricket", "football"}
list2 = ["apple", "banana"]

set_1.update(list2)

print(set_1)

{'tennis', 'football', 'apple', 'cricket', 'banana'}

In [53]:
list_1 = [50,60,30,40,50,25,60,30,40]

x = set(list_1)
print(x)

list_1 = list(x)
print(list_1)

list_1.sort()
print(list_1)

TypeError: 'dict' object is not callable

In [ ]:
x = range (1,7,1)

y = range(1,12,2)

z =range(3,24,4)

print(x,type(x))
print(y)
print(z)

print(z[2],z[5])
print(z[6])

range(1, 7) <class 'range'>
range(1, 12, 2)
range(3, 24, 4)
11 23

IndexError: range object index out of range

In [ ]:
this_dict = {
    "name" : "sugar",
    "weight" : "1kg",
    "price" : 130.35,
   
}

print(this_dict,type(this_dict))

{'name': 'sugar', 'weight': '1kg', 'price': 130.35} <class 'dict'>

In [ ]:
print(this_dict["weight"])

1kg

In [ ]:
this_dict["price"] = 150.50
print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'price': 150.5}

In [ ]:
this_dict["color"] = "brown"
print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'price': 150.5, 'color': 'brown'}

In [ ]:
this_dict = {
    "name" : "sugar",
    "weight" : "1kg",
    "price" : 130.35,
   
}
print(this_dict)

this_dict.update({"expire_date": "Jan 2025", "price": 120.75})

print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'price': 130.35}
{'name': 'sugar', 'weight': '1kg', 'price': 120.75, 'expire_date': 'Jan 2025'}

In [ ]:
this_dict = {
    "name" : "sugar",
    "weight" : "1kg",
    "price" : 130.35,
   
}
print(this_dict)

this_dict.popitem()
print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'price': 130.35}
{'name': 'sugar', 'weight': '1kg'}

In [ ]:
this_dict = {
    "name" : "sugar",
    "weight" : "1kg",
    "price" : 130.35,
   
}
del this_dict["weight"]
print(this_dict)

del this_dict
print(this_dict)

{'name': 'sugar', 'price': 130.35}

NameError: name 'this_dict' is not defined

In [ ]:
this_dict = {
    "name" : "sugar",
    "weight" : "1kg",
    "price" : 130.35,
    
}
this_dict.clear()
print(this_dict)

{}

In [ ]:
this_dict = {
    "name" : "sugar",
    "weight" : "1kg",
    "price" : 130.35
   
}

my_dict = this_dict.copy()

this_dict["weight"] = "2Kg"
print(this_dict)
print(my_dict)

{'name': 'sugar', 'weight': '2Kg', 'price': 130.35}
{'name': 'sugar', 'weight': '1kg', 'price': 130.35}

In [ ]:
x,y = 7, 3
print(x // y )

print(x / y )  

print(x % y )

2
2.3333333333333335
1

In [ ]:
x,y = 5,6
print(x is y)

False

In [ ]:
x = 5

y = x
print(x is y)

True

In [1]:
x = 5
y = 5

a = 257
b = 257

print(x is y)
print(a is b)

True
False

In [ ]:
nums = [10, 8, 4, 3, 2]

print(8 in nums)
print(5 in nums)

True
False

In [ ]:
x = 5  
y = 10

z = x & y
print(z)

0

In [ ]:
x = 5  
y = 10

z = x ^ y
print(z)

15

In [ ]:
x = 5  
y = 10

z = x | y
print(z)

15

In [ ]:
n = 13

if n % 2 == 0:
    print("n is even")
else:
    print("n is odd")

n is odd

In [ ]:
my_list1 = []

if len(my_list1) == 0:
    print("empty list")

else:
    print("non empty list")

non empty list

In [ ]:
list_1 = [1,5]

if list_1:
    print("non empty list")

else:
    print("empty list")

non empty list

In [ ]:
PI_VALUE = 3.14
radius = 7

if radius <= 0:
    print("r should be possitive value")

else:
    circumperence = 2 * PI_VALUE * radius
    print("Circumperence of the circle is:", circumperence)

Circumperence of the circle is: 43.96

In [ ]:
side_1 = 5
side_2 = 12

if side_1 <= 0 and side_2 <= 0:
    print("Side should be possitive values")

else:
    hypotenuse = (side_1 ** 2 + side_2 ** 2) ** 0.5 
    print("hypotenuse of the triangle is:", hypotenuse)

hypotenuse of the triangle is: 13.0

In [ ]:
num_1 = 6
num_2 = 8
num_3 = 10

if num_1 > num_2 and num_1 < num_3:
    print("largest is:",num_1)

elif num_2 > num_1 and num_2 > num_3:
    print("largest is:", num_2)

else: 
    print("largest is:", num_3)

largest is: 10

In [ ]:
num_1 = 6
num_2 = 15
num_3 = 10

if num_1 >= num_2 and num_1 >= num_3:
    if num_2 >= num_3:
        print("Descending order:", num_1, num_2, num_3)
    else:
        print("Descending order:", num_1, num_3, num_2)

elif num_2 >= num_1 and num_2 >= num_3:
    if num_1 >= num_3:
        print("Descending order:", num_2, num_1, num_3)
    else:
        print("Descending order:", num_2, num_3, num_1)

else:
    if num_1 >= num_2:
        print("Descending order:", num_3, num_1, num_2)
    else:
        print("Descending order:", num_3, num_2, num_1)

Descending order: 15 10 6

In [ ]:
x = 10
result = "Even" if x % 2 == 0 else "Odd"
print(result)

Even

In [37]:
n = -5
abs_value =  n if n >= 0 else -n
print("Absolute value:", abs_value)

Absolute value: 5

In [ ]:
variable = 10

match variable:
    case 10 : 
        print("Value is 10")
    case 11: 
        print("Value is 11")
    case _:
        print("Value is neither 10 or 11")

Value is 10

In [ ]:
num = int(input("Enter a number"))

match num:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednseday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saterday")
    case 7:
        print("Sunday")
    case _:
        print("Invalid input! Please enter a valid number")

Friday

In [ ]:
traffic_light_color = input("Enter a color").lower()

match  traffic_light_color:
    case "red"| "blinking":
        print ("stop")
    case "yellow":
        print ("slow down")
    case "green":
        print ("go")
    case _:
        print ("Invalid color")

stop

In [15]:
numbers = [4, 3, 7]

match numbers:
    case [x,y] :
        print(x*y)
    case [x, y, z] :
        print(x + y + z)
    case _:
        print("List must contain either 2 or 3 elements")

14

In [ ]:
tempreture = [50, 60, 20, 10]

match tempreture:
    case [x, y] :   
        print("tempreture:",(x + y)/2)
    case [w, x, y, z]:
        print("tempreture:",(w + x) - (y + z))
    case _:
        print("Unsupported number of readings")

tempreture: 80

In [1]:
my_list = [12, 5, 8, 9, 18]
for item in my_list:
    if item % 2 == 0:
        print(item)

12
8
18

In [ ]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
number = int(input("Enter a number"))
for i in range(1, number):
    print(i**2)

1
4
9
16
25

In [ ]:
num = int(input("Enter a number"))

i = 1
while i * i < num:
    print(i * i)
    i += 1

In [ ]:
num = int(input("Enter a number"))

for i in range(1, num):
    square = i * i
    if square < num:
        print(square)

1
4

In [ ]:
n = int(input("Enter a number"))

if n < 0 :
    print("Enter a possitive number")

else:
    for i in range(1, n):
        square = i * i
        if square < n:
            print(square)
        else:
            break

1
4
9

In [ ]:
my_list = [10, 8, 20, 9, 11, 13, 18]

num = int(input("Enter a number"))

found = False 

for i in my_list:
    if i == num:
        print("Number is found")
        found = True
        break

if not found:
    print("Number not found")

Number not found

In [ ]:
my_list = [10, 8, 20, 9, 11, 13, 18]

num = int(input("Enter a number"))

for i in my_list:
    if i == num:
        print("Number is found")
        break

else: 
    print("Number not found")

Number not found

In [14]:
my_list = [0, -1, -5]

maximum = my_list[0] 

for i in my_list:
    if i > maximum:
        maximum = i

print("Maximum value is:",maximum)

Maximum value is: 0

In [ ]:
my_list = [5, 10, 12, 8, 7]

results = [item ** 2 for item in my_list]
print(results)

[25, 100, 144, 64, 49]

In [ ]:
results = [i**2 for i00000 in range(1,11) if i % 2 == 0]
print(results)

[4, 16, 36, 64, 100]

In [26]:
n = int(input("Enter a number"))

count = 0

while count < n - 1 :
    count += 1
    print(count)

1
2
3
4

In [ ]:
num = int(input("Input number: "))

reverse = 0

while num != 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num //= 10

print("Reverse number:", reverse)

Reverse number: 851